[Unit]
Description=Iptables for routing Internet traffic

[Service]
Type=oneshot
ExecStart=/bin/sh -c "iptables-restore < /etc/iptables.ipv4.nat"

[Install]
WantedBy=multi-user.target
